
/*********************
GENERAL STYLES
*********************/

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	background-color: $gray;
	color: $text-color;
	font-family: $font;
	font-size: 100%;
	padding-top: 10px;
}

html {
	height: 100%;
	box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}


/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1 {
	margin-top: 0;
}



/*********************
MAIN PAGE
*********************/
.enter{
	margin-left: 0.5em;
}
#content {
	margin-top: 0;
}
#username {
	border: 0;
	outline: 0;
	border-bottom: 1px solid $text-color;
}
#contributorsChart {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}
/*********************
FOOTER STYLES
*********************/

.footer {
	clear: both;
	background-color: $black;
	color: $light-gray;
}